/*
Theme Name: Betheme
Theme URI: http://themes.muffingroup.com/betheme/
Author: Muffin group
Author URI: http://muffingroup.com/
Description: The biggest WordPress Theme ever
License: Themeforest Split Licence
License URI: -
Version: 20.4.3.1

All css files are placed in /css/ folder
*/
.select-product-spec {
    display: none;
}
.select-brand .fancy_heading .title,
.select-product .fancy_heading .title,
.select-product-spec .fancy_heading .title {
    font-size: 36px;
    font-weight: 700;
    color: #0c70ab;
}
.select-product .fancy_heading .title:after,
.select-brand .fancy_heading .title:after,
.select-product-spec .fancy_heading .title:after  {
    border-radius: 3px;
    border: 2px solid #0c70ab;
    content: ' ';
    display: block;
    margin: 10px auto;
    width: 115px;
}
.select-brand .fancy_heading .inside,
.select-product .fancy_heading .inside,
.select-product-spec .fancy_heading .inside {
    color: #262728;
    font-weight: 400;
    font-size: 24px;
}
.choose-product .image_wrapper,
.sale-to .image_wrapper{
    background-image: url(images/vector-smart-object.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 380px;
    width: 396px;
    text-align: center;
    margin: auto;
}
.sale-to .desc {
    width: 50%;
    float: left;
}
.sale-to .desc h1.title {
    color: #262728;
    font-size: 35px;
    font-weight: 600;
}
.sale-to h2.title {
    width: 62%;
    float: right;
    text-align: center;
    margin-top: 15px;
    color: #0c70ab;
    font-weight: 600;
    font-size: 28px;
}
.sale-to .image_wrapper {
    width: 453px;
    height: 453px;
    float: left;
}
.sale-to .image_wrapper img {
    width: 246px;
    margin-top: 15px;
}
.sale-to .select-spec {
    display: flex;
    background-color: #fff;
    max-width: 290px;
    padding: 15px;
    margin-bottom: 20px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 0px 1px #00000070;
}
.sale-to .select-spec select {
    margin: 0;
    max-width: 180px;
    right: 10px;
    position: absolute;
}
.sale-to .select-spec label {
    margin-right: 15px;
    margin-top: 5px;
    color: #262728;
    font-size: 12px;
}
.choose-product.choose-brand .image_wrapper {
    height: 219px;
    width: 228px;
}
.choose-product .image_wrapper img {
    margin-top: 15px;
}
.choose-product .wp-caption-text {
    margin-top: 10px;
    background: transparent;
    color: #0C70AB;
    font-size: 24px;
    font-weight: 700;
}
.choose-product.choose-brand .wp-caption-text{
    font-size: 14px;
}
