/*
Theme Name: betheme-child
Version: 1.0
Description: A child theme of Betheme
Template: betheme
Author: Administrator
*/
@import url("../betheme/style.css");
/* Your awesome customization starts here */


body.single.woocommerce .share_wrapper {
	display: none !important;
}

.woocommerce .image_frame {    
    border: none;
}


.woocommerce .image_frame:hover .image_wrapper .image_links,.image_frame.hover .image_wrapper .image_links{
    display:none;
}

.woocommerce .image_frame .image_wrapper img:not(.ls-l) {
    top: 0 !important;
}

.woocommerce ul.woo-categorypage.products li.product-category {
    width: 48%!important;
	background-image:url("assets/images/vector-smart-object.png");
	    background-size: 69% 98%;
    background-repeat: no-repeat;
        background-position: center 0px;
    min-height: 410px;
}


.woocommerce ul.woo-categorypage.products li.product-category img {
	width: 28%;
    margin: auto;
    margin-top: 12px;
}
.woocommerce ul.products li.product a img,
.woocommerce-page ul.products li.product a img {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.woocommerce ul.products li.product a img, .woocommerce-page ul.products li.product a img, .woocommerce ul.products li.product a:hover img, .woocommerce-page ul.products li.product a:hover img{
	margin: auto !important;
    margin-top: 12px !important;
}
.woocommerce ul.products li.product a img:hover {
    transform: scale(1.1);
}

.gpls_rfq_set_div{
    display: none;
}

/**** ****/
    .sale-to .image_wrapper{
        background-image: url(assets/images/vector-smart-object.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 380px;
        width: 396px;
        text-align: center;
        margin: auto;
    }
    .sale-to .desc {
        width: 50%;
        float: left;
    }
    .sale-to .desc h1.title {
        color: #262728;
        font-size: 35px;
        font-weight: 600;
    }
    .sale-to .sale-detail {
        clear: both;
        border-top: 2px solid #0c70ab;
        padding-top: 25px;
    }
    .sale-to .sale-detail p {
        float: left;
        color: #000;
        font-size: 22px;
        display: none;
    }
    .sale-to .sale-detail p span {
        color: #0095eb;
        font-weight: 700;
    }
    .sale-to .sale-detail button {
        float: right;
        background-color: #0DAB48!important;
        width: 390px;
        border-radius: 0!important;
    }
    .sale-to h2.title {
        width: 62%;
        float: right;
        text-align: center;
        color: #0c70ab;
        font-weight: 600;
        font-size: 28px;
        margin-bottom: 25px;
    }
    .sale-to .image_wrapper {
        width: 453px;
        height: 453px;
        float: left;
    }
    .sale-to .image_wrapper img {
        width: 246px;
        margin-top: 15px;
    }
    .sale-to .select-spec {
        display: flex;
        background-color: #fff;
        max-width: 510px;
        padding: 30px 15px;
        margin-bottom: 20px;
        position: relative;
        border-radius: 5px;
        box-shadow: 0px 0px 1px #00000070;
    }
    .sale-to .select-spec select {
        margin: 0;
        max-width: 210px;
        right: 25px;
        position: absolute;
        border: 1px solid #000;
        border-radius: 3px;
        color: #262728;
    }
    .sale-to .select-spec label {
        margin-right: 15px;
        margin-top: 5px;
        color: #262728;
        font-size: 18px;
    }
    .archive .shop-filters,
    .archive.woocommerce .image_frame .image_wrapper .mask,
    .archive.woocommerce .image_frame .image_wrapper .image_links {
        display: none;
    }
    .archive.woocommerce ul.products li.product {
        width: 25%!important;
        margin: 0 0% 20px!important;
    }
    .archive.woocommerce ul.products li.product:nth-child(3n+1) {
        clear: none;
    }
    .archive.woocommerce .image_frame .image_wrapper {
        background-image: url(assets/images/vector-smart-object.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 219px;
        width: 228px;
        text-align: center;
        margin: auto;
    }
    .archive.woocommerce .link_to_rfq_page_link {
        text-align: center;
        display: none !important;
    }
    .archive.woocommerce .image_frame .image_wrapper img {
        width: 127px;
        height: 170px;
        text-align: center;
        margin: 15px auto 0px;
    }
    .archive.woocommerce .image_frame:hover .image_wrapper img,
    .archive.woocommerce .image_frame.hover .image_wrapper img {
        top: 0;
        margin: 15px auto 0px;
    }
    .archive.woocommerce .image_frame {
        border-color: transparent;
    }
    .archive.woocommerce ul.products li.product .desc h4 {
        text-align: center;
    }
    .archive.woocommerce ul.products li.product .desc span.price {
        display: none;
    }
    .archive.woocommerce ul.products li.product .desc h4 a {
        margin-top: 10px;
        background: transparent;
        color: #0C70AB;
        font-size: 14px;
        font-weight: 700;
    }
    .archive.woocommerce ul.products li.product .desc {
        padding: 5px 20px;
    }

    .archive.woocommerce.post-type-archive ul.products li.product {
        width: 50%!important;
    }
    .archive.woocommerce.post-type-archive ul.products li.product h2.woocommerce-loop-category__title {
        position: absolute;
        bottom: -40px;
        left: 47%;
        font-size: 16px;
        font-weight: 700;
        color: #0C70AB;
    }
    .archive.woocommerce .woo_rfq_after_shop_loop_button {
        display: none !important;
    }
    .single-product .gpls_rfq_set_div {
        display: block;
    }
/**** ****/
.rfq_shop_table_customer_info_div {
    clear: both;
    overflow: hidden;
}
.rfq_shop_table_customer_info_div .woo-rfq-customer-info-header {
    font-size: 36px;
    font-weight: 700;
    color: #0c70ab;
    text-transform: uppercase;
    text-align: center;
}
.rfq_shop_table_customer_info_div .woo-rfq-customer-info-header:after {
    border-radius: 3px;
    border: 2px solid #0c70ab;
    content: ' ';
    display: block;
    margin: 10px auto;
    width: 115px;
}
.rfq_shop_table_customer_info_div .woo-rfq-customer-info-hint {
    color: #262728;
    font-size: 24px;
    text-align: center;
}
.woocommerce.gpls_woo_rfq_request_page .medium-width {
    width: 50%;
    float: left;
}
.woocommerce.gpls_woo_rfq_request_page .ful-width {
    width: 100%;
    float: left;
}
.woocommerce.gpls_woo_rfq_request_page .custom-rfq-field label {
    margin-top: 5px;
    color: #545555;
    font-size: 14px;
}
.woocommerce.gpls_woo_rfq_request_page .custom-rfq-field label .required {
    color: #f00;
}
.woocommerce.gpls_woo_rfq_request_page .custom-rfq-field.ful-width input {
    width: 97.5%;
}
.woocommerce.gpls_woo_rfq_request_page .custom-rfq-field input,
.woocommerce.gpls_woo_rfq_request_page .custom-rfq-field textarea {
    width: 95%;
    border-color: #ccc;
    border-radius: 3px;
}
.woocommerce.gpls_woo_rfq_request_page .rfq-custom-form {
    clear: both;
    overflow: hidden;
    padding: 30px;
    border: 1px #ccc solid;
    border-radius: 5px;
    margin-bottom: 40px;
    background-color: #fff;
}
.woocommerce.gpls_woo_rfq_request_page .rfq-confirm label {
    color: #666666;
    font-size: 18px;
    font-weight: 400;
}

.woocommerce.gpls_woo_rfq_request_page .ful-width.submit {
    text-align: center;
}
.woocommerce.gpls_woo_rfq_request_page .ful-width.submit button {
    width: 274px;
    margin-top: 25px;
    background-color: #0DAB48;
    border-radius: 0;
    font-size: 24px;
    padding: 15px 0;
}
.single.single-product .accordion .question:last-child {
    width: 50%;
}
.single-product div.product form.variations_form.cart table.variations {
    border-collapse: separate;
    border-spacing: 0 30px;
    background: transparent;
    width: 93%;
    padding: 0px;
}
.single-product div.product form.variations_form.cart table.variations tr {
    margin-bottom: 20px;
    position: relative;
	border-radius: 12px;
}
.single-product div.product form.variations_form.cart table.variations tr td {
    padding-bottom: 21px;
    background: #fff;
    border: 1px solid rgba(51,51,51,0.25);
}
.single-product div.product form.variations_form.cart table.variations tr td.label {
    text-align: left;
    padding-left: 15px !important;
    margin-right: 15px;
    margin-top: 5px;
    padding-top: 20px;
    color: #262728;
    font-size: 18px;
	border-top-left-radius: 12px;
	border-bottom-left-radius:12px;
    border-right: 0;
}
.single-product div.product form.variations_form.cart table.variations tr td.value{
	border-top-right-radius: 12px;
	border-bottom-right-radius:12px;
    border-left: 0;
}
.single-product div.product form.variations_form.cart table.variations tr td.value .reset_variations {
    position: relative;
    top: 38px;
    left: 75%;
    color: #0095eb;
    text-decoration: none;
	display:none !important;
}
.single-product div.product form.variations_form.cart table.variations tr td.value {
    padding-top: 25px;
}
.single-product div.product form.variations_form.cart table.variations tr td.value .color span.color {
    display: none;
}
.single-product div.product form.variations_form.cart table.variations tr td.value .color select.color-dropdown {
    display: block;
}
.single-product div.product form.variations_form.cart .variations select {
    max-width: 210px;
    min-width: 210px;
    border: 1px solid #000;
    border-radius: 3px;
    color: #262728;
    float: right;
}
.single-product div.product span.price {
    color: #0095eb;
}
.single-product div.product p.price del, .single-product div.product span.price del {
    display: none;
}
.woocommerce .quantity input.qty{
	display:none;
}
.woocommerce .rfq_shop_table_customer_info_div {
    border: 1px solid #ccc;
    padding: 30px;
    margin-bottom: 35px;
}
.woocommerce .rfq_shop_table_customer_info_div table.shop_table td {
    border: none;
}
.woocommerce .rfq_shop_table_customer_info_div table.shop_table {
    border-spacing: 0;
}
.woocommerce .rfq_shop_table_customer_info_div table.shop_table input {
    margin-bottom: 5px;
}
#rfq_cart_shop_table tr th:last-child,
#rfq_cart_shop_table tr td:last-child {
    border-right: 1px solid rgba(0,0,0,.1) !important;
}
.single-product div.product .gpls_rfq_set_div button {
    visibility: hidden;
    z-index: -1;
}
.single-product div.product form.cart .gpls_rfq_set.rfqcart-link.button {
    position: absolute;
	display:none !important;
}
.single-product div.product .woocommerce-variation.single_variation {
    display: none !important;
}
.single-product .woocommerce-error.alert,
.single-product .woocommerce-info.alert,
.single-product .woocommerce-message.alert {
    padding: 20px 55px 28px 90px!important;
}
.single-product .woocommerce-error.alert .alert_wrapper,
.single-product .woocommerce-info.alert .alert_wrapper,
.single-product .woocommerce-message.alert .alert_wrapper {
    padding-top: 8px;
}
.single-product .woocommerce-error.alert a.close,
.single-product .woocommerce-info.alert a.close,
.single-product .woocommerce-message.alert a.close {
    top: 30px;
}
.rfq_shop_table_customer_info_div,.woocommerce.gpls_woo_rfq_request_page .gpls_woo_rfq_request_cart table.rfq_cart_shop_table{
	width: 80% !important;
	margin: auto;
	float:none !important;
}
.woocommerce ul.products li.product.singleproductcat .desc {
    background: transparent;
}

.woocommerce table.shop_table tbody th,.woocommerce table.shop_table tbody td, .woocommerce table.shop_table tfoot td, .woocommerce table.shop_table tfoot th {   
    background-color: #fff !important;
    border: none !important;
}

.woocommerce table.shop_table th{
    padding-bottom: 0px !important;
}
.woocommerce .shop_table tr:first-child:hover td {  
    background: none !important;
}

.custom-rfq-field input[type="email"]:focus, .custom-rfq-field input[type="number"]:focus,.custom-rfq-field input[type="password"]:focus,.custom-rfq-field input[type="search"]:focus, .custom-rfq-field input[type="tel"]:focus, .custom-rfq-field input[type="text"]:focus, .custom-rfq-field input[type="url"]:focus,.custom-rfq-field select:focus,.custom-rfq-field textarea:focus{
    background-color: #fff !important;
}

.woocommerce.gpls_woo_rfq_request_page .custom-rfq-field input, .woocommerce.gpls_woo_rfq_request_page .custom-rfq-field textarea {
    
    box-shadow: none;
}
.custom-rfq-field select{
    padding: 10px;
    outline: none;
    margin: 0;
    width: 230px;
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
    font-size: 13px;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    box-shadow: none;
}

.single-product .gpls_rfq_set_div {
    display: none !important;
}
.alg-wc-civs-attribute ul.color-dropdown,
.selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("assets/images/ie-dropdown.png") white no-repeat 95%;
    background: url("assets/images/br_down.png") white no-repeat calc(100% - 10px) !important; /* Better placement regardless of input width */
}

/* Style for "Vi takker" */
.ordersuccesstxt{
    color: #262728;
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 25px;
}
.ordersuccesssubtxt{
    color: #666666;
    font-size: 18px;
    line-height: 30px;
    max-width: 760px;
    margin: auto;
}
.thankyou-page {
    padding-bottom: 100px;
}
.thankyou-page img {
    margin-left: 15px;
}
.thankyou-page .woocommerce-order-details {
    display: none;
}
.woocommerce input.button.gpls-woo-rfq_checkout_button{
    background-color: #0DAB48!important;
    color: #fff;
    font-size: 21px;
    margin-bottom: 0px !important;
    -moz-appearance: button;
    -webkit-appearance: button;
}
@media(max-width:767px){
	.rfq_shop_table_customer_info_div,
    .woocommerce.gpls_woo_rfq_request_page .gpls_woo_rfq_request_cart table.rfq_cart_shop_table {
		width: 100% !important;
		margin: auto;
	}
}

ul.color-dropdown { 
    height: 30px;
    border: 1px #000 solid;
    font-size: 13px;
    font-weight: 400;
    padding: 2px 0;
    border-radius: 3px;
    max-width: 210px;
    min-width: 210px;
    text-align: left;
    float: right;
    margin-right: 1em;
}
ul.color-dropdown li span {
    display: inline-block;
    height: 15px;
    width: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    position: relative;
    top: 3px;
    margin-right: 5px;
}
ul.color-dropdown li {
    padding: 0px 10px;
    color: #262728;
    z-index: 2;
}
ul.color-dropdown li:not(.init) {
    text-align: left;
    display: none;
    padding-top: 0px;
    background-color: #E9F5FC;
}
ul.color-dropdown li.init {
    margin-bottom: 5px;
    padding-top: 2px;
}
ul.color-dropdown li {
    cursor: pointer;
    text-transform: capitalize;
}
ul.color-dropdown li:not(.init):hover,
ul.color-dropdown li.selected:not(.init) {
    background-color: #1E90FF;
    color: #fff;
}
.fixed-nav.fixed-nav-next,
.fixed-nav.fixed-nav-prev {
    display: none;
}
.custom-rfq-field label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.custom-rfq-field label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
.custom-rfq-field label:hover input ~ .checkmark {
    background-color: #ccc;
}
.custom-rfq-field label input:checked ~ .checkmark {
    background-color: #2196F3;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.custom-rfq-field label input:checked ~ .checkmark:after {
    display: block;
}
.custom-rfq-field label .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.woocommerce #rfq_cart_shop_table.shop_table .product-remove a.remove {
    margin: 0;
    font-size: 25px;
    color: #0C70AB!important;
    background: #fff;
}
.woocommerce #rfq_cart_shop_table.shop_table .product-remove a.remove:hover {
    color: #f00 !important;
}
.woocommerce #rfq_cart_shop_table.shop_table .cart_tr .actions.cart_td .update_rfq_cart {
    display: none;
}
.woocommerce-products-header .woocommerce-products-header__title.page-title,
.sale-to .single-product-title {
    font-size: 36px;
    display: none;
    font-weight: 700;
    color: #0c70ab;
    text-align: center;
}
.sale-to .single-product-title {
    display: block;
    margin-bottom: 70px;
}
.woocommerce-products-header .woocommerce-products-header__title.page-title:after,
.sale-to .single-product-title:after {
    border-radius: 3px;
    border: 2px solid #0c70ab;
    content: ' ';
    display: block;
    margin: 10px auto;
    width: 115px;
}
.woocommerce-products-header .woocommerce-products-header__desc {
    color: #262728;
    font-weight: 400;
    display: none;
    font-size: 24px;
    text-align: center;
    margin-bottom: 45px;
}
.post-type-archive.woocommerce .woocommerce-products-header .woocommerce-products-header__desc,
.post-type-archive.woocommerce .woocommerce-products-header .woocommerce-products-header__title.shop-title,
.term-iphone.woocommerce .woocommerce-products-header .woocommerce-products-header__title.iphone-title,
.term-ipad.woocommerce .woocommerce-products-header .woocommerce-products-header__title.ipad-title {
    display: block;
}
.term-iphone.woocommerce .woocommerce-products-header .woocommerce-products-header__title.iphone-title,
.term-ipad.woocommerce .woocommerce-products-header .woocommerce-products-header__title.ipad-title {
    margin-bottom: 75px;
}
@media only screen and (max-width: 1199px){
    .woocommerce ul.woo-categorypage.products li.product-category {
        min-height: 320px;
    }
}
@media only screen and (max-width: 960px){
    .woocommerce ul.woo-categorypage.products li.product-category {
        min-height: 250px;
    }
    .archive.woocommerce.post-type-archive ul.products li.product h2.woocommerce-loop-category__title {
        left: 45%;
    }
    .archive.woocommerce ul.products li.product {
        width: 50%!important;
    }
    .sale-to .desc {
        width: 100%;
    }
    .sale-to .desc h1.title {
        font-size: 26px;
    }
    .sale-to .image_wrapper {
        height: 380px;
        width: 396px;
        clear: both;
        float: none;
    }
    .single-product div.product form.variations_form.cart table.variations tr td {
        padding-bottom: 10px;
        padding-top: 10px !important;
    }
    .alg-wc-civs-attribute ul.color-dropdown, .selectdiv select {
        margin-top: 7px;
    }
}
@media only screen and (max-width: 768px){
    .archive.woocommerce.post-type-archive ul.products li.product {
        width: 100% !important;
        min-height: auto;
        margin: 0 0% 35px!important;
    }
    .woocommerce ul.woo-categorypage.products li.product-category {
        background-size: 70% 100%;
    }
    .archive.woocommerce.post-type-archive ul.products li.product h2.woocommerce-loop-category__title {
        left: 43%;
    }
    .woocommerce-products-header .woocommerce-products-header__title.page-title,
    .sale-to .single-product-title {
        font-size: 20px;
    }
    .woocommerce-products-header .woocommerce-products-header__title.page-title:after,
    .sale-to .single-product-title:after {
        width: 80px;
        border: 1px solid #0c70ab;
    }
    .woocommerce-products-header .woocommerce-products-header__desc {
        font-size: 16px;
    }
    .sale-to .sale-detail p,
    .sale-to .sale-detail button {
        float: none;
    }
    .woocommerce.gpls_woo_rfq_request_page .rfq-custom-form {
        padding: 15px;
    }
    .woocommerce.gpls_woo_rfq_request_page .custom-rfq-field label {
        text-align: left;
    }
    .rfq_shop_table_customer_info_div .woo-rfq-customer-info-header {
        font-size: 26px;
        text-align: center !important;
    }
    .rfq_shop_table_customer_info_div .woo-rfq-customer-info-header:after {
        border: 1px solid #0c70ab;
        width: 80px;
    }
    .rfq_shop_table_customer_info_div .woo-rfq-customer-info-hint {
        font-size: 16px;
        text-align: center !important;
        line-height: 1.45;
    }
    .ordersuccesssubtxt {
        font-size: 15px;
        line-height: 22px;
    }
    .ordersuccesstxt {
        font-size: 19px;
        margin-bottom: 14px;
    }
    .thankyou-page img {
        max-width: 100% !important;
    }
    .thankyou-page {
        width: 100% !important;
        padding-bottom: 45px;
    }
    .single-product #Subheader {
        padding: 10px 0 15px;
    }
    .single-product #Subheader ul.breadcrumbs {
        display: block;
    }
    .single-product #Subheader ul.breadcrumbs li {
        display: none;
    }
    .single-product #Subheader ul.breadcrumbs li:last-child {
        display: block;
    }
}
@media only screen and (max-width: 570px){
    .archive.woocommerce ul.products li.product {
        width: 100% !important;
    }
    .term-iphone.woocommerce .woocommerce-products-header .woocommerce-products-header__title.iphone-title,
    .term-ipad.woocommerce .woocommerce-products-header .woocommerce-products-header__title.ipad-title,
    .sale-to .single-product-title {
        margin-bottom: 35px;
    }
    .sale-to .sale-detail button {
        width: 100%;
        margin: 0 !important;
    }
    .sale-to .image_wrapper img {
        width: 60%;
    }
    .sale-to .image_wrapper {
        width: 250px;
        height: 250px;
    }
    .single-product div.product form.variations_form.cart table.variations {
        border-spacing: 0px 50px;
    }
    .woocommerce .rfq_shop_table_customer_info_div {
        padding: 15px;
        margin-left: -15px;
    }
}
@media only screen and (max-width: 500px){
    .single-product div.product form.variations_form.cart .variations select,
    ul.color-dropdown {
        max-width: 150px;
        min-width: 150px;
    }
    .woocommerce div.product form.cart .variations label {
        font-size: 12px;
    }
    .woocommerce.gpls_woo_rfq_request_page .medium-width {
        width: 100%;
    }
    .archive.woocommerce.post-type-archive ul.products li.product {
        width: 300px !important;
        height: 200px;
        margin: 0 auto 60px!important;
        float: none;
    }
    .woocommerce input.button.gpls-woo-rfq_checkout_button {
        font-size: 16px;
    }
}
.the_content_wrapper {
    margin: 0px !important;
}
.custom-modal.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 145px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.custom-modal .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.custom-modal .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.custom-modal .close:hover,
.custom-modal .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
